<div class="carousel">
  <div class="card-carousel">
    <%= cl_image_tag("card-carousel.jpg") %>
    If the person matches your criteria, just swipe right !
  </div>
  <div class="card-carousel">
    <%= cl_image_tag("matchcarousel.jpg") %>
    If the person likes you too, it's a match !
  </div>
  <div class="card-carousel">
    <%= cl_image_tag("chat-carousel.png") %>
    It's time to plan your tennis match !
  </div>
</div>
