<div class="wrapper-sgnin">
  <div class="container-signin">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>Sign-up</h2>
      <p><strong>Find your tennis partner!</strong></p>
      <div >
        <%= render 'carousel' %>
      </div>

      <div class="signin-container">
        <%= render 'form-new' %>
      </div>
    </div>
  </div>
</div>
