<div class="wrapper-sgnin">
  <div class="container-signin">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="infos-signin">
        <div class="logo-signin">
          <%= cl_image_tag("TN_icone.png") %>
        </div>
          <h2>Sign Up</h2>
        </div>
        <div class="card-carousel" >
          <%= render 'carousel' %>
        </div>

        <div class="signin-container">
          <%= render 'form-new' %>
        </div>
    </div>
  </div>
</div>
