<h2>Let's chat and Plan!</h2>
<div><%= @conversation.messages %></div>
<div>
  <%= simple_form_for([@conversation, @message]) do |f| %>
  <%= f.input :content %>
  <%= f.submit "SEND", class: "btn btn-primary" %>
  <% end %>
</div>
