<% @users.each do |user| %>
  <%= image_tag "https://cdn.iconscout.com/public/images/icon/free/png-512/avatar-user-hacker-3830b32ad9e0802c-512x512.png"%>
  <%= user.name %>
  <%= user.age %>
  <%= user.description %>
<% end %>
<p>Hello World!</p>
