<div id="viewport">
  <ul class="stack">
    <% @users.each do |user|%>
      <li >
        <div class="card-picture" style="background-image: url(<%= cl_image_path user.picture %>);">
        </div>
        <div class="card-name" >
          <%= user.name %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

