<div class="footer">
  <div class="footer-links">

    <%= link_to root_path, class: active_class?(root_path) do %>
      <i class="fas fa-search"></i>
    <% end %>

    <%= link_to profile_path, class: active_class?(profile_path) do %>

      <i class="fas fa-user-circle"></i>
    <% end %>

    <%= link_to conversations_path, class: active_class?(conversations_path) do %>
         <i class="fas fa-comment"></i>
    <% end %>
  </div>
</div>
