<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fas fa-search"></i></a>
    <a href="#"><i class="fas fa-user-circle"></i></a>
    <a href="#"><i class="fas fa-comment"></i></i></a>
  </div>
</div>





