<div class="footer">
  <div class="footer-links">
    <%= link_to root_path do %>
    <i class="fas fa-search"></i>
    <% end %>
    <%= link_to edit_user_registration_path do %>
    <i class="fas fa-user-circle"></i>
    <% end %>
    <a href="#"><i class="fas fa-comment"></i></i></a>
  </div>
</div>





