<div class="carousel">
  <div>
    <%= cl_image_tag("feerer.jpeg") %>
  </div>
  <div>
    <%= cl_image_tag("serena.jpeg") %>
  </div>
  <div>
    <%= cl_image_tag("djoko.jpg") %>
  </div>
</div>




