<div class="wrapper">
  <div class="col-xs-8 col-xs-offset-2">
    <h2>Log in</h2>

    <div class="carroussel">

      <%= render 'carousel' %>

    </div>

    <div class="signin-container">
      <div class="signin-background">
        <%= render 'form-new-sessions' %>
      </div>
    </div>
  </div>
</div>
