.logout-button {
  margin-top: 60px;
  font-family: Arial;
  font-size: 12px;
  display:flex;
  justify-content: center;
}

.action-indication {
  padding-right: 50px;
  padding-left: 50px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.page-adjust-criterias > .btn-success {
  opacity: 0.8;
  font-weight: bold;
  margin-top: 20vh;
  border-radius: 5px;
  border: none;
  background-color: #D9713B;
  &:hover {
    opacity: 1;
  }
}

