.logout-button {
  margin-top: 60px;
  font-family: Arial;
  font-size: 12px;
  display:flex;
  justify-content: center;
}

.action-indication {
  padding-right: 50px;
  padding-left: 50px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.page-adjust-criterias > .btn-success {
 margin-top: 20px;
 border-radius: 5px;
}
