.logout-button {
  margin-top: 78px;
  font-family: Arial;
  font-size: 16;
  display:flex;
  justify-content: center;
}

.action-indication {
  padding-right: 50px;
  padding-left: 50px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}
