.title-chat {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 60px;
}

.message-list-container {
  background-color: #e8f4eb;
  margin-right: 15px;
  margin-left: 15px;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  height: 55vh;
  overflow-y: auto;
  max-height: 55vh;
  margin-top: 100px;
}

.green-text {
  color: white;
}

.orange-text {
  color: white;
}

.message-input {
  text-align: center;
  padding: 0 5px;
  border-radius: 5px;
  .btn-primary {
    background-color: #D9713B;
    border-color: #D9713B;
    margin-top: 1px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 90px;
  }
}

.mess-content {
  flex-grow: 1;
}

#message_content {
  .form-control {
    background-color: #e8f4eb;
    opacity: 0;
    font-size: 12px;
    margin-left: 5px;
  }
}

.profile-picture-message {
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  min-height: 40px;
  min-width: 40px;
}


.conversation{
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-control {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.text-right {
  margin-right: 15px;
  text-align: center;
  font-size: 15px;
  background-color: #00503c;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
}

.text-left {
  margin-left: 15px;
  background-color: #F4F4F4;
  text-align: center;
  font-size: 15px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #D9713B;
}


.message-content-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 10px;
}

.message-content-left {
  display: flex;
  align-items: center;
  margin-top: 10px;
}






