.title-chat {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

.message-list-container {
  display: flex;
  flex-direction: column;
  background-color: #e8f4eb;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
}

.green-text {
  color: #00503c;
}

.orange-text {
  color: #bf6516;
}

.message-input {
  text-align: center;
  padding: 0 5px;
  border-radius: 5px;
  .btn-primary {
    background-color: #D9713B;
    border-color: #D9713B;
    border-radius: 50px;
    margin-top: 1px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 90px;
  }
}

.message-content {
  .form-control {
    background-color: #e8f4eb;
    opacity: 0;
    font-size: 12px;
  }
}

.profile-picture-message {
  background-size: cover;
  background-position: center;
  height: 35px;
  width: 35px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.text-left {
  display: flex;
  align-items: center;
}


.message-content {
  margin-left: 10px;
}

.message-left-content {
  margin: 5px;
}



