.index-conv-title {
  color: white;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 50px;
}


.all-conv{
  margin: 30px;
  font-size: 20px;
  text-align: center;
}
  img {
    height: 100px;
    bottom: 100px;
  }

.each-conv {
  text-align: center;
  position: relative;
  background-color: rgba(240, 240, 240, 0.8);
  margin: 20px;
  border-radius: 5px;

  .conv-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.each-conv :hover {
  color: red;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
  }
}

.date-indicator {
  font-size: 15px;
}
