.simple_form {

  padding-top: 40px;
  div.input {
    margin-bottom: 15px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }
  label {
    // float: left;
    width: 200px;
    margin: 2px 10px;
    font-size: 15px;
    color: white;
  }
}

div.boolean label {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form {
  .error {
    clear: left;
    color: black;
    display: block;
    margin-left: 120px;
  }
  .hint {
    clear: left;
    color: #555;
    display: block;
    font-style: italic;
  }
}

input {
  &.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }
  &.check_boxes {
    margin-left: 3px;
    vertical-align: -3px;
  }
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}
