#ex1Slider .slider-selection {
  background: #BABABA;
}

.form-control-label {
  font-weight: bold;
  color: white;
}

.criteria-title {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.btn-primary {
  margin-top: 60px;
}

.card-form {
  padding: 8px;
  background-color: #D9713B;
  border-radius: 3px;
}

.card-criteria {
  padding: 8px;
}

.form-control {
  padding: 0px 10px;
  background-color: #f9f9f9;
  height: 25px;
}

body {
  background-color: #00503c;
}

label {
  color: white;
}


.form-text {
  color: white;
  font-style: italic;
}

.btn-light {
  background-color: yellow;
}

.cancel {
  color: white;
  text-align: center;
  a {
    color: yellow;
  }
}
