#ex1Slider .slider-selection {
  background: #BABABA;
}

.form-control-label {
  font-weight: bold;
}

.criteria-title {
  color: #ff7100;
  font-size: 28px;
  font-weight: bold;
}

.btn-primary {
  margin-top: 60px;
}

.card-form {
  padding: 8px;
  background-color: #e5e5e5;
  border-radius: 3px;
}

.card-criteria {
  padding: 8px;
}

.form-control {
  padding: 0px 12px;
}

