.footer {
  background: #F4F4F4;
  color: rgba(0,0,0,0.3);
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  left: 0;
}

.footer-spacer {
  padding-bottom: 80px;
}

html {
  height: 100%;
}

.footer-links {
  padding: 0 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-links a {
  opacity: 0.40;
  text-decoration: none;
  font-size: 40px;
}

.footer-links a:hover {
  opacity: 1;
}

.fa-search, .fa-user-circle, .fa-comment {
  color: #F7AA66;
}

.fa-search.active, .fa-user-circle.active, .fa-comment.active {
  color: red;
}
