.cards-match {
  display: flex;
  justify-content: space-between;
  text-align: center;

  p {
    color: white;
    font-size: 30px;
  }
}

.button-match {
  display: flex;
  flex-direction: column;
  .btn-warning {
    margin-top: 20px;
    border-radius: 5px;
  }
}

#match-title {
    color: #ff6138;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }

.profile-picture {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

