.cards {
  position: absolute;
  top: 25vh;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

  .logo-tn {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    img {
    height: 150px;
  }
}


.profile-picture {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.button-match {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10vh;
  left: 50px;
  right: 50px;

  .btn-warning {
  background-color: transparent;
  border-color: #D9713B;
  margin-top: 20px;
  border-radius: 50px;
  margin:5px;
  }

  .btn-warning:hover {
  background-color: #D9713B;
  }
}



