.profile-picture2 {
  background-size: cover;
  display: bloc;
  background-position: center;
  height: 180px;
  width: 180px;
  overflow: hidden;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
}

.edition {
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 100px;
  }

.container-profile {
  margin-top: 30px;
  position: relative;

  a {
    height: 30px;
    margin-bottom: 6px;
  }

  i {
    margin-bottom: 5px;
  }
}

.fa-cog, .fa-pencil-alt {
  color: #D9713B;
}

.icon-profile {
  display: flex;
  justify-content: space-around;
  color: #D9713B;
  font-size: 30px;
}


.card-name-age1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}


.logout-button {
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #D9713B;
  }
}
