

.card-picture {
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.card-name-age {
  font-size: 20px;
  font-color: white;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-image-rank {
  height: 10px;
  width: 10px;
}

img {
  height: 20px;
}

#viewport li {
  width: 100vw;
  height: calc(100vh - 60px);
  list-style: none;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 100px;
  border-radius: 5px;
  border: 10px solid #ececec;
  box-sizing: border-box;
  cursor: default;
}

#viewport li.clubs,
#viewport li.spades {
  color: #373737;
}

#viewport li.diamonds,
#viewport li.hearts {
  color: #ed5d52;
}

#viewport li.in-deck:nth-child(3) {
  top: 2px;
  transform: translate(2px, 2px) rotate(0.4deg);
}

#viewport li.in-deck:nth-child(2) {
  top: 4px;
  transform: translate(-4px, -2px) rotate(-1deg);
}

#control {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0;
}

#control button {
  background: #ffffff;
  color: #373737;
  font-weight: bold;
  border: none;
  font: normal 18px/24px "Helvetica Neue", Helvetica, Arial, freesans,
    sans-serif;
  margin: 0 5px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 2px 0 #63211f;
  outline: none;
  position: relative;
}
#control button:active {
  background: #63211f;
  color: #ffffff;
  bottom: -2px;
  box-shadow: none;
}

#source {
  width: 500px;
  margin: 20px auto;
}

#source a {
  color: #c7433e;
}

.hidden {
  display: none
}

.btn-like-dislike {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


